<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/styles/pantry.css"> <!-- Ensure this path is correct -->
</head>
<body>
    <div class="background">
        <header>
            <div class="logo-container">
                <img src="/images/Logo.png" alt="Logo">
            </div>
            <nav>
                <ul>
                    <li><a href="/homepage">Home</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                    <li><a class="active" href="/pantry">Pantry</a></li>
                    <li><a href="/profile">Profile</a></li>
                </ul>
            </nav>
        </header>
        <h1 class="inventory-header">Remove Items</h1>
        <div class="pantry-list">
            {{#pantryItems}}
            <div class="pantry-item-admin" data-item-id="{{_id}}">
                <h2>{{name}}</h2>
                <p>Weight: {{weight}}g</p>
                <p>Sell By Date: {{sellByDate}}</p>
            </div>
            {{/pantryItems}}
        </div>
    </div>
    <script src="/scripts/main.js"></script> <!-- Ensure this path is correct -->
</body>
</html>
