<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/styles/users.css">
</head>
<body>
    <div class="background">
        <header>
            <div class="logo-container">
                <img src="/images/Logo.png" alt="Logo">
            </div>
            <nav>
                <ul>
                    <li><a href="/homepage">Home</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                    <li><a class="active" href="/pantry">Pantry</a></li>
                    <li><a href="/profile">Profile</a></li>
                </ul>
            </nav>
        </header>
       
    <div class="user-list">
        <h1 class="remove-users-title">Remove Users</h1>
        <div class="user-cards-container">
            {{#users}}
            <div class="user-card" data-user-id="{{id}}">
                <h2>{{fullName}}</h2>
                <p>User Type: {{type}}</p>
                <!-- Remove the delete button -->
            </div>
            {{/users}}
        </div>
    </div>
</div>




    </div>
    <script src="/scripts/admin.js"></script>
</body>
</html>
