<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/styles/contact.css">
</head>
<body>
    <header>
        <div class="logo-container">
            <img src="images/Logo.png" alt="Logo">
        </div>
        <nav>
            <ul>
                <li><a href="/homepage">Home</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a class="{{#isContact}}active{{/isContact}}" href="/contact">Contact Us</a></li>
                <li><a href="/pantry">Pantry</a></li>
                <li><a href="/profile">Profile</a></li>
            </ul>
        </nav>
    </header>
    
    <div class="form-container">
    <h1> Contact Us </h1>
        <form action="your-server-endpoint" method="POST">
            <label for="fullName">Full Name:</label>
            <input type="text" id="fullName" name="fullName" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="query">Query:</label>
            <textarea id="query" name="query" required></textarea>

            <button type="submit">Submit</button>
        </form>
    </div>

    <footer>
        <p>&copy; {{currentYear}} {{organizationName}}. All rights reserved.</p>
    </footer>
    <script src="/scripts/main.js"></script>
</body>
</html>
