<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/styles/home.css">
</head>
<body>
    <div class="background">
        <header>
        <div class="logo-container">
            <img src="images/Logo.png" alt="Logo">
        </div>

            <nav>
                <ul>
                    <li><a class="{{#isHome}}active{{/isHome}}" href="/">Home</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                    <li><a href="/pantry">Pantry</a></li>
                    <li><a href="/profile">Profile</a></li>
                </ul>
            </nav>
        </header>

<div class="icons">
<div id="icon">
    <a href="/about">
        <img src="/images/about.png" alt="About Us">
        <br><br>
        <h2>About Us</h2>
    </a>
</div>
<div id="icon">
    <a href="/contact">
        <img src="/images/contact.png" alt="Contact Us">
        <h2>Contact Us</h2>
    </a>
</div>
<div id="icon">
    <a href="/pantry">
        <img src="/images/pantry.png" alt="Pantry">
        <h2>Pantry</h2>
    </a>
</div>
<div id="icon">
    <a href="/profile">
        <img src="/images/profile.png" alt="Profile">
        <h2>Profile</h2>
    </a>
</div>
</div>


    </div>
    <footer>
        <p>&copy; {{currentYear}} {{organizationName}}. All rights reserved.</p>
    </footer>
    <script src="/scripts/main.js"></script>
</body>
</html>