<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/styles/login.css">
</head>
<body>
    <div class="split left">
        <div class="centered">
            <img src="images/loginLogo.png" alt="Logo" class="logo">
        </div>
    </div>

    <div class="split right">
        <div class="headerText">
            <h1>Welcome Back</h1>
        </div>
        <div class="centered">
            <form action="/" method="POST">
                <input type="email" name="email" placeholder="Email" required>
                <input type="password" name="password" placeholder="Password" required>
                <button type="submit">Log In</button>
            </form>

            <div class = "bottomText">
            <p>New here? <a href="/register">Register here</a></p>
            </div>
        </div>
    </div>
</body>
</html>
