<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/styles/lost.css">
</head>
<body>
    <h1> Hmm, looks like there's nothing here </h1>
<img src="/images/Logo.png" alt="Logo" style="position: absolute; top: 0; left: 0; width: 15rem; height: auto; margin: 10px;">
    <div id = "img">
<img src="/images/404.png" alt="404 Image" style="width: 30%; height: auto;">

    </div>
    <h1> Not to worry, click <a href="/"> here </a> to go back to the Home Page </h1>
</body>
</html>
