<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/styles/profile.css">
</head>
<body>
    <header>
        <div class="logo-container">
            <img src="/images/Logo.png" alt="Logo">
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/contact">Contact Us</a></li>
                <li><a href="/pantry">Pantry</a></li>
                <li><a class="active" href="/profile">Profile</a></li>
            </ul>
        </nav>
    </header>

    <div id="profileContainer">
        <div id="profileCard">
            <img src="/images/edit-icon.png" alt="Edit" class="edit-icon">
            <h2>UserName</h2>
            <br>
            <p>Email Address</p>
            <br>
            <span>UserType</span>
    </div>
    <footer>
        <p>&copy; {{currentYear}} {{organizationName}}. All rights reserved.</p>


    </footer>
    <script src="/scripts/main.js"></script>
</body>
</html>
