/* Reset and variables */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #3A6164; /* Teal color */
    --secondary-color: #67afb6; /* Light teal color */
}

/* Basic styles */
body, html {
    width: 100%;
    height: 100%;
    font-family: 'Arial', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('/images/homeBackground.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Keeps the background image fixed during scroll */
    position: relative; /* Sets positioning context for absolute children */
    min-height: 100vh; /* Ensures at least the full height of the viewport */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Positions header and footer at start and end of page */
}

header, footer {
    background-color: white;
    width: 100%;
    height: 15%; /* Sets the height to 15% of the viewport */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; /* Positions the bars absolutely within the body */
    z-index: 10; /* Ensures the bars overlap the background image */
}

header {
    top: 0; /* Aligns the header to the top of the page */
}

footer {
    bottom: 0; /* Aligns the footer to the bottom of the page */
}

/* Navigation bar styles */
nav {
     /* Use the primary color variable for background */
    position: relative;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

nav li {
    margin: 0 3rem; /* Space between menu items */
}

nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.5em;
    transition: color 0.3s; /* Smooth transition for hover effect */
    position: relative;
    left: 19rem; /* Move the text to the right by 50% of its container width */
    transform: translateX(-50%); /* Center the text horizontally */
}

nav a:hover {
    color: var(--secondary-color); /* Color change on hover */
}

nav a.active {
    color: var(--primary-color); /* Set active text color to primary color */
    text-decoration: underline; /* Underline active text */
}

/* Footer styles */
footer {
    position: absolute;
    width: 100%;
    background-color: white;
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer p { color: black;}

.logo-container {
    position: absolute;
    top: 1rem;
    left: 2rem;
    margin: 10px; /* Adjust margin as needed */
}

.logo-container img {
    width: 100px; /* Adjust width as needed */
    height: auto;
}

h2 {
    color:white;
    font-size: 3rem;
    text-decoration: underline;
    padding-bottom:10px;
}

h3 {
    font-size: 2rem;
    text-decoration: underline;
    color: var(--primary-color)
}


.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%; /* Adjust width as necessary */
    max-width: 500px; /* Adjust maximum width as necessary */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: var(--primary-color);
    border-radius: 10px;
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 5px 5px var(--secondary-color);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input[type="text"],
form input[type="number"],
form input[type="date"] {
    margin-bottom: 10px;
    padding: 8px;
    width: 100%; /* Full-width inputs */
}

form button {
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

form button:hover {
    background-color: var(--secondary-color);
    transform: scale(1.3);
}

.inventory-header {
    text-align: center;
    color: white; /* or your chosen color */
    margin-top: 20px; /* Adjust based on your design */
    font-size: 5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px 0; /* Padding for spacing */
}

.pantry-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start; /* Align items to the top */
    gap: 20px;
    margin: 0 auto;
    padding: 20px;
    max-width: 90%; /* Adjust as needed */
}

.pantry-item {
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: transform 0.3s ease;
    cursor: pointer;
    width: calc(33% - 20px); /* Adjust as necessary for layout */
    margin-bottom: 20px;
}

.pantry-item:hover {
    transform: translateY(-3px); /* Lift effect on hover */
    box-shadow: 0 4px 8px rgba(0,0,0,0.3); /* Darker shadow on hover */
}

.pantry-item h2, .pantry-item p {
    color: var(--secondary-color); /* Consistent color for text */
    font-size: 0.9rem; /* Smaller font size */
    margin-bottom: 5px; /* Less space between elements */
}

.pantry-item h2 {
    color: var(--primary-color); /* Primary color for headers */
    font-size: 1.2rem; /* Adjusted size for header */
}

.pantry-item p {
    color: var(--secondary-color); /* Secondary color for item details */
    font-size: 1rem; /* Adjust size as needed */
    margin-bottom: 5px; /* Adds space between paragraphs */
}

/* Assuming this is the primary container for your page content below the header */
.background {
    padding-top: 8%; /* Adjust this value as needed */
}

/* Since header is absolute, ensure that the z-index is high enough to layer it above the content */
header {
    position: absolute;
    top: 0;
    z-index: 1000; /* Higher value to ensure it's on top */
    /* Other styles */
}

.admin-container {
    display: flex;
    justify-content: space-around; /* Adjusted for better spacing */
    width: 100%; /* Ensures container uses full width */
    flex-wrap: wrap; /* Allows wrapping for responsiveness */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.7rem;
    color:white;
}

.admin-section {
    width: 45%; /* Gives each section ample space but adjust according to your design */
    text-align: center;
    margin: 0 2%; /* Slight margin for separation */
}

.card {
    background-color: white;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.card h2, .card p {
    margin-bottom: 5px;
}


.card h2 {
    color: var(--primary-color);
    font-size: 1.2rem;
}

.delete-btn, .edit-btn {
    padding: 5px 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: var(--secondary-color);
    color: white;
    cursor: pointer;
}

.delete-btn:hover, .edit-btn:hover {
    background-color: var(--primary-color);
}

.card {
    position: relative;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.admin-container {
    display: flex;
    justify-content: center; /* Centers the buttons horizontally */
    align-items: center; /* Aligns the buttons vertically */
    height: 60vh; /* Full height to spread out the content */
    padding: 20px; /* Outer padding for better spacing from edges */
}

.admin-section {
    width: 40%; /* Larger width for each section */
    margin: 0 50px; /* More space between the two sections */
}

.admin-link {
    display: block; /* Make each link a block for easier sizing */
    background-color: var(--primary-color);
    color: white;
    padding: 40px 60px; /* Significantly larger padding */
    font-size: 32px; /* Larger font size for visibility */
    text-decoration: none;
    border-radius: 10px; /* Smoothed corners */
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); /* More pronounced shadow for depth */
    text-align: center; /* Ensures text is centered */
}

.admin-link:hover{

    transform: scale(1.1); /* Slight scale up on hover */

}

.pantry-item-admin {
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: transform 0.3s ease;
    cursor: pointer;
    width: calc(33% - 20px); /* Adjust as necessary for layout */
    margin-bottom: 20px;
}

.pantry-item-admin:hover {
    transform: scale(1.1); /* Slight scale up on hover */
    box-shadow: 0 4px 8px rgba(0,0,0,0.3); /* Darker shadow on hover */
    outline: 2px solid red; /* Red outline */
    outline-offset: -2px; /* Adjust the offset to match design needs */
}


.pantry-item-admin h2, .pantry-item-admin p {
    color: var(--secondary-color); /* Consistent color for text */
    font-size: 0.9rem; /* Smaller font size */
    margin-bottom: 5px; /* Less space between elements */
}

.pantry-item-admin h2 {
    color: var(--primary-color); /* Primary color for headers */
    font-size: 1.2rem; /* Adjusted size for header */
}

.pantry-item-admin p {
    color: var(--secondary-color); /* Secondary color for item details */
    font-size: 1rem; /* Adjust size as needed */
    margin-bottom: 5px; /* Adds space between paragraphs */
}


